body {
	background-color:black;
	color: white;
    transition: all;
    transition-delay: 5s;
    background-color:grey;
}

header{
    text-align: center;
    border-bottom-style: dotted;
}

header,h1: hover{
    color: lightblue;

}

img{
    
  /*  margin:  0px 0px 0px;*/
    /* border: 7px solid white; */
    margin-top: 10px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

img:hover{
   backface-visibility:grey ;
}

aside {
	
    width: 25%;
    height: 500px;
    color: white;
    position: fixed;
    background-color: black;
    text-align: center;
    border-right-color: white;
    border-right:solid;
    border-radius:20px;
	
}
aside:hover{
    background-color: lightblue;
    color: black;
    font-family: cursive;
}
section {
   
    width: 70%;
   font-size: 20px;
    float: right;
    margin-top: 20px;
    position: relative;

}


footer{
    margin-top: 250px;
    position: relative;
    float: right;
    margin-left: 150px;
}

